/* variables aka custom props */
:root {
  /* font-colors */
  --font-color: black;

  /* font-color for i */
  --font-color-icon-regular: black;
  --font-color-icon-navbar-youAreHere-indicator: grey;
  --font-color-icon--bookmark--mouse-over: lightgrey;

  /* background-color */

  --bcg-header-footer: antiquewhite;
  --bcg-card: lightgoldenrodyellow;
  --bcg-card-button: blanchedalmond;
  --bcg-card--tag-list: rgb(244, 219, 156);
  --bcg-card--tag-list--tag: goldenrod;

  /* font-sizes */
  --font-size-h1: 2.4rem;
  --font-size-h2: 2rem;
  --font-size-h3: 1.8rem;
  --font-size-button: 1.4rem;
  --font-size--bookmark-icon: 2.3rem;

  /* border-radius */
  --border-radius--card--tag-list--tag: 8px;
}

/* variables END */

/* global */

body {
  text-align: center;
  /* border: 5px solid black; */
  padding: 0;
  margin: 0 auto;
  height: 100%;
  width: 600px;
}

ul,
li ol,
li {
  list-style: none;
  padding: 0;
}

/* global end */
