body {
  text-align: center;
  /* border: 5px solid black; */
  padding: 0;
  margin: 0 auto;
  height: 100%;
  width: 500px;
}

.flex-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  /* border: 3px solid green; */
  height: 100%;
  margin: 0 auto;
}

header {
  height: 70px;
  margin-bottom: 20px;
  position: sticky;
  /* sticky worked to stick header and footer respectively to top and bottom of page within flexbox */
  top: 0;
  background-color: antiquewhite;
  /* border: 3px solid hotpink; */
  align-content: center;
  /* this helped me to put #title in the middle */
}

#title {
  display: inline-block;
  font-size: 2.4rem;
}

.card-area {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  margin-top: 10px;
  /* border: 3px solid hotpink; */
  height: 100%;
}

.card {
  /* border: 3px solid blue; */
  /* hier besser mit flex-basis attributen arbeiten */
  width: 400px;
  height: 300px;
  text-align: center;
  padding: 20px;
  background-color: lightgoldenrodyellow;

  /* Solution to make bookmark button stick out - PART ONE  */
  position: relative;

  /* flexbox within cards */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* nur behelfsmäßig fürs flexbox styling */
/* .card p,
div,
.card-tags {
  border: 2px solid green;
} */

.card i {
  /* Solution to make bookmark button stick out - PART TWO  */
  position: absolute;
  top: -10px;
  /* -10 px makes the button sticking out on the top slightly */
  right: 10px;
  /* icon size */
  font-size: 2.2rem;
}

.card p {
  font-size: 1.5rem;
}

.card-button {
  border: 2px solid black;
  background-color: blanchedalmond;
  width: 150px;
  height: 40px;
  /* !! hier muss ich noch von fixen Werten zu flexbox Werten kommen */
  align-content: center;
  /* um den button text in die Mitte zu bekommen */
  font-size: 1.3rem;
}

.card-tag-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
  gap: 15px;
}

.card-tag-list li {
  border: 2px solid black;
  background-color: goldenrod;
  border-radius: 5px;
  padding: 5px;
}

footer {
  position: sticky;
  bottom: 0;
  height: 70px;
  margin-top: 20px;
  background-color: antiquewhite;
  align-content: center;
  /* border: 3px solid hotpink; */
}

.nav-bar {
  list-style: none;
  display: flex;
  justify-content: space-evenly;

  /* align-items bewirkt nichts */
  /* align-items: flex-end; */

  padding: 0;
  gap: 10px;
  background-color: antiquewhite;

  /* border: 3px solid burlywood; */
}

/* .nav-bar li {
  border: 3px solid green;
} */

.nav-bar i {
  color: black;
  font-size: 2.5rem;
}

/* man muss in diesem Fall direkt das i innerhalb des elements mit der class ansprechen, um es beeinflussen zu könnnen */
.you-are-here i {
  color: grey;
  font-size: 3rem;
}
